{% extends 'base.html' %} {% block content%}
<div class="container">
    <h1>Flujo de caja</h1>
    <div class="row">
        <div class="col">
            <div class="card">
                <a href="{% url 'detalle_caja' flujo_de_caja.id %}">
                    <ul>
                        <li>Concepto: {{flujo_de_caja.concepto}}</li>
                        <li>Tipo: {{flujo_de_caja.tipo_transaccion}}</li>
                        <li>Monto: {{flujo_de_caja.monto}}</li>
                        <li>Usuario: {{flujo_de_caja.usuario}}</li>
                    </ul>
        
                </a>
            </div>
        </div>
        <div class="col">
            <form method="POST" action="{% url 'crear_flujo_caja' %}">
                {% csrf_token %}
                {{form.as_p}}
                <button type="submit">Buscar</button>
            </form>

        </div>
    </div>
</div>
{% endblock %}