{% extends 'base.html' %} {% block content%}
<main class="container">
  <h1>Detalle Cliente</h1>
<div class="row">
  <div class="col text-center rounded bg-warning p-3">
    <form action="{% url 'mostrar_cliente' cliente.id %}" method="POST">
      {% csrf_token %}
      <div class="mb-3 d-flex justify-content-between">
        <label for="nombre" class="form-label w-25 m-1">Nombre:</label>
        <input type="text" class="form-control" id="nombre" value="{{cliente.nombre}}" name="nombre" >
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <label for="rut" class="form-label w-25 m-1">Rut:</label>
        <input type="text" class="form-control" id="rut" value="{{cliente.rut}}" name="rut" />
      </div>
      <div class="mb-3 d-flex justify-content-between">
        <label for="direccion" class="form-label w-25 m-1">Direccion:</label>
        <input type="text" class="form-control" id="direccion" value="{{cliente.direccion}}" name="direccion" />
      </div>
      <button type="submit" class="btn btn-primary m-1">Modificar Cliente</button>
    </form>
    <form action="{% url 'delete_cliente' cliente.id %}" method="POST" onsubmit="return confirmarBorrado();">
      {% csrf_token %}
      <button class="btn btn-danger m-1 border border-dark" type="submit">Borrar</button>
    </form>
  </div>
</div>
</main>
<script>
  function confirmarBorrado() {
    if (confirm("¿Estás seguro de que deseas borrar este proveedor?")) {
      return true;  // Continuar con la eliminación
    } else {
      return false; // Cancelar la eliminación
    }
  }
</script>
{% endblock %}