{% extends 'base.html' %} {% block content%}
<div class="container bg-warning rounded ">
  <h1>Consultas</h1>
  <ul class="nav nav-tabs d-flex justify-content-center">
    <li class="nav-dropdown">
      <div class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Ingresar al Inventario
      </div>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'create_producto' %}">Producto</a>
        <a class="dropdown-item" href="{% url 'create_proveedor' %}">Proveedor</a>
        <a class="dropdown-item" href="{% url 'create_cliente' %}">Cliente</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <div class="nav-link dropdown-toggle text-dark" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Consultas y modificar entradas</div>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'busca_productos' %}">Buscar Productos</a>
        <a class="dropdown-item" href="{% url 'busca_proveedor' %}">Buscar Proveedor</a>
        <a class="dropdown-item" href="{% url 'busca_cliente' %}">Buscar Cliente</a>
      </div>
    </li>
  </ul>
</div>
{% endblock %}